#Backend
JWT_SECRET=

#MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_PORT=
MINIO_ENDPOINT=
MINIO_BUCKET_CARDS=
MINIO_BUCKET_UPLOADS=
MINIO_PUBLIC_URL=
MINIO_USE_SSL=

#Web Push (VAPID)
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

#Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

#Mail
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=